.form_add_cate{
    background-color: rgb(141, 109, 48);
    width: 500px;
    margin: 0 auto;
    text-align: center;
    }
.Text_ThemDanhMuc{
    color: white;
    text-align: center;
}
/* .form_nhap_thon_tin{
    white-space: nowrap; 
    width: 450px; 
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
} */
.form_table{
    margin-top: 50px;
}
.magin_btn{
    margin-right: 20px;
    margin-left: 20px;
}
.form_nhap_thon_tin_danh_muc{
    width: 435px;
    border: 1px solid #000000; 
    text-align: center;
    margin-left: 20px;
}